.projectCard {
    margin: 10px 0 10px 0;
    width: 17rem;
}

.projectImage {
    padding: 20px 10px 5px 10px;
}

.projectBody {

}

.projectTitle {
    font-weight: bold;
    font-size: larger;
}

.projectTech {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
}

.projectText {
    font-size: smaller;
}

.projectLinksArea {
    
}

.codeLink {
    color: black;
    font-weight: lighter;
    font-size: smaller;
}