.portfolioCard {
    margin: 10px 0 10px 0;
    width: 20rem;
}

.cardImage {
    padding: 20px 10px 5px 10px;
}

.cardBody {

}

.projectTitle {
    font-weight: bold;
    font-size: large;
}

.projectTech {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
}

.projectDesc {
    
}

.projectLinks {
    
}