.projectCard {
    margin: 10px 0 10px 0;
    width: 16rem;
    background-color: #CED2DD;
}

.projectImageWrapper {
    padding: 20px 10px 5px 10px;
    background-color: #CED2DD;
}

.projectBody {
    background-color: #CED2DD;
}

.projectTitle {
    font-weight: bold;
    font-size: larger;
}

.projectTech {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
    padding-bottom: 10px;
}

.projectText {
    font-size: smaller;
    margin-bottom: 45px;
}

.projectLinksArea {
    position: absolute;
    bottom: 0;
}

.codeLink {
    color: black;
    font-weight: lighter;
    font-size: smaller;
}

.codeLink:hover {
    color: #203C82;
    font-weight: bolder;
    text-decoration: none;
}

@media only screen and (min-width: 1200px) {
    .projectCard {
        width: 16rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .projectCard {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .projectCard {
        width: 100%;
    }
}