.portfolioArea {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, auto));
}

.portfolioItem {
    float: left;
    margin: 0 15px 0 15px;
}

.bioCard {
    margin: 10px 10px 10px 10px;
    width: 15rem;
}

.bioImage {
    padding: 20px 10px 5px 10px;
}

.bioBody {
}

.bioTitle {
    font-weight: bold;
    font-size: large;
}

.bioContent {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
}

.bioText {
    padding: 10px 0 0 0;
}

.bio {
    font-size: smaller;
}

.skills {
    font-size: smaller;
}

.bioLinksArea {
}

.socialLink {
    color: black;
    font-weight: lighter;
    font-size: smaller;
}

.socialIcon {
    height: 17px;
}