.portfolioArea {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.portfolioItem {

}

.bioCard {
    margin: 10px 0 10px 0;
    /* width: 15rem; */
}

.bioImage {
    padding: 20px 10px 5px 10px;
}

.bioBody {

}

.bioTitle {
    font-weight: bold;
    font-size: large;
}

.bioContent {
    font-style: italic;
    font-weight: lighter;
    font-size: smaller;
}

.bioText {
    
}

.bioLinks {
    
}

.socialIcon {
    height: 17px;
}